.contact-form{
    height: 100%;
    background-color: #FFE900;
    color: #000;
}
h2{
    margin-left: 45%;
    color: #000;
    font-weight: bold;
}


.form-group{
    margin-top: 10px;
}

label{
    margin-bottom: 3px;
    font-family: 'Merriweather';
    font-weight: bold;
}

#message{
    margin-bottom: 10px;
}


